n8n_generate_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate",
                "authentication": "headerAuth",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-id",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ],
            "webhookId": "webhook-generate-id",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "iCbTDgNtVk51bd58",
                    "name": "NeicanSTT2025Secret"
                }
            }
        },
        {
            "id": "llm-id",
            "name": "OpenAI LLM",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                350,
                300
            ],
            "parameters": {
                "method": "POST",
                "url": "https://api.siliconflow.cn/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"Qwen/Qwen2.5-7B-Instruct\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是一个专业的职场写作助手。根据以下语音访谈转写内容，生成一份年终总结报告。\\n\\n访谈参数：\\n- 受众：{{ $node[\\\"Webhook\\\"].json[\\\"body\\\"].params.audience }}\\n- 风格：{{ $node[\\\"Webhook\\\"].json[\\\"body\\\"].params.tone }}\\n- 字数：{{ $node[\\\"Webhook\\\"].json[\\\"body\\\"].params.length }}\\n\\n访谈回答内容：\\n{{ JSON.stringify($node[\\\"Webhook\\\"].json[\\\"body\\\"].answers) }}\\n\\n请严格按以下 JSON 格式输出四个版本的文本，不要带任何解释：\\n{\\n  \\\"draft_short\\\": \\\"200字精简版\\\",\\n  \\\"draft_main\\\": \\\"正式稿\\\",\\n  \\\"outline\\\": \\\"结构化大纲\\\",\\n  \\\"ppt_outline\\\": \\\"PPT 提纲\\\"\\n}\\n\\n注意：如果信息缺失，请在对应位置使用【待补充】标记，不得编造事实。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"请开始生成。\"\n    }\n  ]\n}",
                "options": {}
            },
            "credentials": {
                "httpHeaderAuth": {
                    "id": "ibUDkwXjaazaG4NH",
                    "name": "硅基流动"
                }
            }
        },
        {
            "parameters": {
                "options": {
                    "responseBody": "={\n  \"session_id\": \"{{ $node[\"Webhook\"].json[\"body\"][\"session_id\"] }}\",\n  \"outputs\": {{ $json[\"choices\"][0][\"message\"][\"content\"] }}\n}"
                }
            },
            "id": "respond-id",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                600,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "OpenAI LLM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI LLM": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "9087f00fd0adab70eff9b6563653ea164d3596f3e5321096b7f8aa701f5f7614"
    }
}