n8n_workflows/debug/current_workflow.json
{
  "updatedAt": "2026-01-03T06:52:39.653Z",
  "createdAt": "2026-01-03T05:25:44.654Z",
  "id": "D05OBJW6XTAgOJjo",
  "name": "Talk2Report - Generate Report v3.0 (Enhanced)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3fed46b1-2c9f-45c2-a9eb-64bc22f0e6ac",
      "name": "Webhook - Generate Report",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4064,
        2608
      ],
      "webhookId": "talk2report-generate-v3"
    },
    {
      "parameters": {
        "content": "## Talk2Report 生成工作流 v3.0 (Enhanced)\n\n### 新增特性\n✅ 输入验证 - 检查必需字段\n✅ 详细错误处理 - 分类错误响应\n✅ 丰富元数据 - session_id, processing_time, version\n✅ 保留质量闭环 - Critic 验证 + 自动重写\n\n### 架构\nWebhook → 验证 → Agent B (Archivist) → Agent C (3 Writers并行) → Agent D (Critic) → 响应\n\n### Multi-Agent Pipeline\n- **Agent B (Archivist)**: 从对话历史提取结构化数据\n- **Agent C (Writers)**: 并行生成 3 个版本 (brief, formal, social)\n- **Agent D (Critic)**: 验证质量，评分 < 80 触发重写\n\n### 质量保证\n- 评分标准: <80 重写, 80-89 良好, 90-100 优秀\n- 最大迭代: 3 次\n- 自动返回最佳结果",
        "height": 1200,
        "width": 400,
        "color": 2
      },
      "id": "4cbd2909-c6d1-4ceb-b117-c185e6338c51",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4464,
        1808
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "has-session-id",
              "name": "has_session_id",
              "value": "={{ !!$json.body?.session_id }}",
              "type": "boolean"
            },
            {
              "id": "has-conversation",
              "name": "has_conversation",
              "value": "={{ !!$json.body?.conversation_history && $json.body.conversation_history.length > 0 }}",
              "type": "boolean"
            },
            {
              "id": "has-preferences",
              "name": "has_preferences",
              "value": "={{ !!$json.body?.preferences }}",
              "type": "boolean"
            },
            {
              "id": "is-valid",
              "name": "is_valid",
              "value": "={{ !!$json.body?.session_id && !!$json.body?.conversation_history && $json.body.conversation_history.length > 0 && !!$json.body?.preferences }}",
              "type": "boolean"
            },
            {
              "id": "extract-session-id",
              "name": "session_id",
              "value": "={{ $json.body?.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0b5faab3-0cb1-4560-a759-2988df9da19c",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3808,
        2608
      ],
      "notes": "验证输入数据的完整性"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3c200a80-37e6-426d-9d1a-704c027d1220",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3568,
        2608
      ],
      "notes": "验证通过则继续，否则返回错误"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": \"Validation failed\",\n  \"message\": \"Missing required fields\",\n  \"required\": [\"session_id\", \"conversation_history\", \"preferences\"],\n  \"received\": {\n    \"has_session_id\": $json.has_session_id,\n    \"has_conversation_history\": $json.has_conversation,\n    \"has_preferences\": $json.has_preferences\n  },\n  \"timestamp\": new Date().toISOString()\n} }}",
        "options": {}
      },
      "id": "90b450bc-71b0-4df4-ab1f-7aaa9cd7e05e",
      "name": "Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -3312,
        2768
      ],
      "notes": "返回验证错误响应"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "start-time",
              "name": "start_timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "session-id-keep",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bb397af7-004e-47a8-8def-e1675f10cfdc",
      "name": "Set Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3312,
        2464
      ],
      "notes": "设置初始元数据"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "val-conv",
              "name": "conversation_history",
              "value": "={{ $('Webhook - Generate Report').item.json.body.conversation_history }}",
              "type": "array"
            },
            {
              "id": "val-prefs",
              "name": "preferences",
              "value": "={{ $('Webhook - Generate Report').item.json.body.preferences }}",
              "type": "object"
            },
            {
              "id": "val-extracted",
              "name": "extracted_data",
              "value": "={{ $('Webhook - Generate Report').item.json.executionMode }}",
              "type": "string"
            },
            {
              "id": "keep-session-id",
              "name": "session_id",
              "value": "={{ $('Set Metadata').item.json.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "50c11c3b-fbe7-4145-86ce-a4afd2d1ccf9",
      "name": "Extract Request Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3056,
        2464
      ]
    },
    {
      "parameters": {
        "content": "=## Agent B: Archivist (信息提取)\n\n### 任务\n从对话历史中提取结构化数据，映射到 YearEndSummary schema。\n\n### Schema 字段\n- basic_info: 基本信息\n- highlights: 核心成果\n- challenges: 挑战应对\n- growth: 个人成长\n- team_contribution: 团队贡献\n- future_goals: 未来规划\n\n### 重要\n- 只提取**明确提及**的信息\n- 不要编造或推断\n- 数字和奖项必须原样引用\n- 如果信息缺失，返回 null",
        "height": 590,
        "width": 350,
        "color": 5
      },
      "id": "69b8d83d-765c-4453-b0f4-b8a9c18c7834",
      "name": "Agent B Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2816,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "deepSeekApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"temperature\": 0.1,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是一个专业的归档员 Agent B (Archivist)。\\n任务：从对话历史中提取结构化数据，映射到 YearEndSummary schema。\\n\\n需要提取的字段：\\n- basic_info: 基本信息\\n- highlights: 核心成果\\n- challenges: 挑战应对\\n- growth: 个人成长\\n- team_contribution: 团队贡献\\n- future_goals: 未来规划\\n\\n重要规则：\\n1. 只提取明确提及的信息，不要编造。\\n2. 数字和奖项必须原样引用。\\n3. 如果信息缺失，返回 null。\\n4. 输出必须为标准 JSON 格式。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.conversation_history) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "659ae0f5-6ba5-487f-b24b-1f539608b665",
      "name": "Agent B - Extract Factsheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2768,
        2464
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "t3d0RWOyYh5yA9DW",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-extractor-error",
              "leftValue": "={{ $json.choices }}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "625e1a33-9652-4458-9ddf-c2ad88275b14",
      "name": "Check Agent B Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2512,
        2464
      ],
      "notes": "检查 Agent B 是否出错"
    },
    {
      "parameters": {
        "jsCode": "// 解析 Agent B 的响应\nconst response = $input.item.json;\nconst content = response.choices?.[0]?.message?.content || '';\n\n// 提取 JSON\nlet factsheet;\ntry {\n  const jsonMatch = content.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (jsonMatch) {\n    factsheet = JSON.parse(jsonMatch[1]);\n  } else {\n    factsheet = JSON.parse(content);\n  }\n} catch (e) {\n  throw new Error('Failed to parse Agent B response: ' + e.message);\n}\n\n// 获取用户偏好和 session_id\nconst preferences = $('Extract Request Data').item.json.preferences;\nconst sessionId = $('Extract Request Data').item.json.session_id;\n\nreturn {\n  factsheet: factsheet,\n  preferences: preferences,\n  session_id: sessionId,\n  iteration: 1,\n  rewrite_context: null\n};"
      },
      "id": "53542d4a-cb59-440b-b6a2-b6749be16732",
      "name": "Prepare for Agent C",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2256,
        2464
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": \"Agent B (Archivist) failed\",\n  \"details\": {\n    \"message\": \"Failed to extract factsheet from conversation history\",\n    \"raw_response\": $json,\n    \"timestamp\": new Date().toISOString()\n  },\n  \"session_id\": $('Extract Request Data').item.json.session_id\n} }}",
        "options": {}
      },
      "id": "fdf10fa2-6f7e-4a7b-8d5b-0cbe1172fb38",
      "name": "Agent B Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2256,
        2656
      ]
    },
    {
      "parameters": {
        "content": "=## Agent C: Writers (并行生成)\n\n### 任务\n基于结构化数据和用户偏好，并行生成3个版本的报告。\n\n### 3个版本\n1. **Brief (电梯汇报)**: 200字以内，精炼有力\n2. **Formal (正式述职)**: 800-1500字，金字塔结构\n3. **Social (朋友圈文案)**: 感性表达，emoji点缀\n\n### 用户偏好\n- 受众: {{ $json.preferences.audience }}\n- 文风: {{ $json.preferences.tone }}\n- 字数: {{ $json.preferences.length_main_chars }}\n\n### 重写上下文\n{{ $json.iteration > 1 ? '包含 Critic 的反馈意见' : '首次生成' }}",
        "height": 688,
        "width": 400,
        "color": 6
      },
      "id": "b4cdab22-e3a7-4bbb-b558-535ce43c731e",
      "name": "Agent C Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2112,
        1504
      ]
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "id": "264c45b2-8daf-42b6-b2ad-75d8188b5db4",
      "name": "Create Writer Tasks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2000,
        2464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "writer-type-1",
              "name": "writer_type",
              "value": "=brief",
              "type": "string"
            },
            {
              "id": "instruction-1",
              "name": "instruction",
              "value": "=生成200字电梯汇报版，要求精炼有力，突出核心成果",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "079e3380-44d6-49da-bab3-c2d6da151d76",
      "name": "Writer 1: Brief",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        2304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "writer-type-2",
              "name": "writer_type",
              "value": "=formal",
              "type": "string"
            },
            {
              "id": "instruction-2",
              "name": "instruction",
              "value": "=生成正式年度述职版({{ $json.length_main_chars || 1200 }}字)，使用金字塔结构，包含开场、核心成果、挑战应对、个人成长、团队贡献、未来规划、结尾",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d2fc1034-b2f2-444a-ae52-c6f323ebcdc1",
      "name": "Writer 2: Formal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        2464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "writer-type-3",
              "name": "writer_type",
              "value": "=social",
              "type": "string"
            },
            {
              "id": "instruction-3",
              "name": "instruction",
              "value": "=生成朋友圈文案版，感性表达，使用emoji点缀，300字以内",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0958d10b-f0ab-4e48-8ec9-2b12b7b5a12c",
      "name": "Writer 3: Social",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        2608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "deepSeekApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"temperature\": {{ $json.temperature || 1.0 }},\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $json.system_prompt }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"【用户偏好】\\n{{ JSON.stringify($json.preferences) }}\\n\\n【核心数据 (Factsheet)】\\n{{ JSON.stringify($json.factsheet) }}\\n\\n【任务】\\n请根据以上信息和系统指令撰写报告。\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "7912996f-aa92-492f-9a0d-60d97f5170df",
      "name": "Call Writer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1552,
        2464
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "t3d0RWOyYh5yA9DW",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "drafts",
        "options": {}
      },
      "id": "81bf23e3-77d1-4131-8282-934d5ad65a47",
      "name": "Merge All Drafts",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1312,
        2464
      ]
    },
    {
      "parameters": {
        "content": "=## Agent D: Critic (质量验证)\n\n### 任务\n验证报告的逻辑一致性、因果关系、证据支撑。\n\n### 验证标准\n1. 逻辑一致性 - 前后不矛盾\n2. 因果关系 - 成果有明确的行动支撑\n3. 证据支撑 - 数据和事实可信\n4. 完整性 - 涵盖所有重要方面\n\n### 评分\n- 90-100: 优秀，可以直接使用\n- 80-89: 良好，微调后可用\n- < 80: 需要重写\n\n### 输出格式\n```json\n{\n  \"passed\": true,\n  \"score\": 87,\n  \"verdict\": \"报告质量评价\",\n  \"issues\": [],\n  \"rewrite_needed\": false\n}\n```",
        "height": 770,
        "width": 400,
        "color": 7
      },
      "id": "6850c0d6-0a6f-4023-b152-0123e9c58200",
      "name": "Agent D Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1152,
        1504
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "deepSeekApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"temperature\": 0.0,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是一个严格的报告评审专家 Agent D (Critic)。\\n\\n请根据以下4个维度验证报告质量：\\n1. 逻辑一致性 (前后是否矛盾)\\n2. 因果关系 (成果是否有行动支撑)\\n3. 证据支撑 (数据事实是否可信)\\n4. 完整性 (是否涵盖所有重要方面)\\n\\n评分规则：\\n- < 80分：不合格，必须重写 (rewrite_needed = true)\\n- 80-89分：良好\\n- 90-100分：优秀\\n\\n请严格按照以下 JSON 格式输出（不要输出 markdown）：\\n{\\n  \\\"passed\\\": boolean,\\n  \\\"score\\\": number,\\n  \\\"verdict\\\": \\\"简短评价\\\",\\n  \\\"issues\\\": [\\\"问题点1\\\", \\\"问题点2\\\"],\\n  \\\"rewrite_needed\\\": boolean\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"请评审以下生成的报告草稿：\\n\\n{{ JSON.stringify($json) }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "b685ee25-10a1-4b7d-a1dc-46aafc6a7a35",
      "name": "Agent D - Validate Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        2464
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "t3d0RWOyYh5yA9DW",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-score",
              "leftValue": "={{ $json.score }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d46f2838-66b9-4b36-93ce-e0edb56a5669",
      "name": "Check Quality Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -704,
        2464
      ]
    },
    {
      "parameters": {
        "jsCode": "// 计算处理时间\nconst startTime = new Date($('Set Metadata').item.json.start_timestamp).getTime();\nconst processingTime = Date.now() - startTime;\n\nreturn {\n  success: true,\n  session_id: $('Prepare for Agent C').item.json.session_id,\n  iterations: $('Prepare for Agent C').item.json.iteration,\n  factsheet: $('Prepare for Agent C').item.json.factsheet,\n  versions: $('Merge All Drafts').item.json.drafts.map(d => ({\n    type: d.writer_type,\n    content: d.choices?.[0]?.message?.content || ''\n  })),\n  quality: {\n    passed: $json.passed,\n    score: $json.score,\n    verdict: $json.verdict,\n    thinking: $json.thinking || ''\n  },\n  metadata: {\n    timestamp: new Date().toISOString(),\n    processing_time_ms: processingTime,\n    version: \"3.0-enhanced\",\n    model: \"deepseek-chat\"\n  }\n};"
      },
      "id": "a955ada7-2b01-459a-b6e5-8f41e10bbe52",
      "name": "Prepare Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        2304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "eb668f95-2126-42da-872c-3245b7cd10bf",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -208,
        2304
      ]
    },
    {
      "parameters": {
        "jsCode": "// 检查迭代次数\nconst currentIteration = $('Prepare for Agent C').item.json.iteration;\nconst maxIterations = 3;\n\nif (currentIteration >= maxIterations) {\n  // 达到最大迭代次数，强制返回当前结果\n  const startTime = new Date($('Set Metadata').item.json.start_timestamp).getTime();\n  const processingTime = Date.now() - startTime;\n  \n  return {\n    force_return: true,\n    message: `已达到最大迭代次数(${maxIterations})，返回当前结果`,\n    processing_time_ms: processingTime\n  };\n}\n\n// 准备重写上下文\nconst criticResponse = $input.item.json;\nconst rewriteContext = {\n  verdict: criticResponse.verdict,\n  issues: criticResponse.issues || [],\n  suggestions: criticResponse.issues?.map(i => i.suggestion).join('\\n') || '',\n  score: criticResponse.score\n};\n\nreturn {\n  iteration: currentIteration + 1,\n  rewrite_context: JSON.stringify(rewriteContext),\n  factsheet: $('Prepare for Agent C').item.json.factsheet,\n  preferences: $('Prepare for Agent C').item.json.preferences,\n  session_id: $('Prepare for Agent C').item.json.session_id\n};"
      },
      "id": "b53f154a-d22f-4345-aa71-19cdc199c1b1",
      "name": "Prepare Rewrite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        2608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-force",
              "leftValue": "={{ $json.force_return }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ae591e05-e152-4faf-88b6-36ff858424e1",
      "name": "Check Max Iterations",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        2608
      ]
    },
    {
      "parameters": {
        "jsCode": "// 计算处理时间\nconst startTime = new Date($('Set Metadata').item.json.start_timestamp).getTime();\nconst processingTime = $json.processing_time_ms || (Date.now() - startTime);\n\nreturn {\n  success: true,\n  session_id: $('Prepare for Agent C').item.json.session_id,\n  iterations: $('Prepare for Agent C').item.json.iteration,\n  factsheet: $('Prepare for Agent C').item.json.factsheet,\n  versions: $('Merge All Drafts').item.json.drafts.map(d => ({\n    type: d.writer_type,\n    content: d.choices?.[0]?.message?.content || ''\n  })),\n  quality: {\n    passed: false,\n    score: $('Check Quality Score').item.json.score,\n    verdict: $('Check Quality Score').item.json.verdict + ' (已达到最大迭代次数)',\n    message: $json.message\n  },\n  metadata: {\n    timestamp: new Date().toISOString(),\n    processing_time_ms: processingTime,\n    version: \"3.0-enhanced\",\n    warning: \"Report quality did not meet threshold after maximum iterations\"\n  }\n};"
      },
      "id": "4a71c69c-8a6b-4387-99fa-1545f5936d7e",
      "name": "Prepare Warning Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        2768
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "6937ac11-4938-4c7c-a7d7-f55bf9f6f95f",
      "name": "Return with Warning",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        288,
        2768
      ]
    }
  ],
  "connections": {
    "Webhook - Generate Report": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Set Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Metadata": {
      "main": [
        [
          {
            "node": "Extract Request Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Request Data": {
      "main": [
        [
          {
            "node": "Agent B - Extract Factsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent B - Extract Factsheet": {
      "main": [
        [
          {
            "node": "Check Agent B Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Agent B Error": {
      "main": [
        [
          {
            "node": "Prepare for Agent C",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent B Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Agent C": {
      "main": [
        [
          {
            "node": "Create Writer Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Writer Tasks": {
      "main": [
        [
          {
            "node": "Writer 1: Brief",
            "type": "main",
            "index": 0
          },
          {
            "node": "Writer 2: Formal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Writer 3: Social",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer 1: Brief": {
      "main": [
        [
          {
            "node": "Call Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer 2: Formal": {
      "main": [
        [
          {
            "node": "Call Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer 3: Social": {
      "main": [
        [
          {
            "node": "Call Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Writer": {
      "main": [
        [
          {
            "node": "Merge All Drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Drafts": {
      "main": [
        [
          {
            "node": "Agent D - Validate Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent D - Validate Quality": {
      "main": [
        [
          {
            "node": "Check Quality Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Quality Score": {
      "main": [
        [
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Response": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Rewrite": {
      "main": [
        [
          {
            "node": "Check Max Iterations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Max Iterations": {
      "main": [
        [
          {
            "node": "Return with Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Writer Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Warning Response": {
      "main": [
        [
          {
            "node": "Return with Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook - Generate Report": [
      {
        "json": {
          "headers": {
            "host": "n8n.neican.ai",
            "user-agent": "node",
            "content-length": "697",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "authorization": "Bearer NeicanSTT2025Secret",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "74.121.149.136",
            "cf-ipcountry": "US",
            "cf-ray": "9b806b3c4a1c43d7-EWR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "c9a9e6b6-95b7-4963-9924-755eda39bdc9",
            "connection": "keep-alive",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "74.121.149.136",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "session_id": "test-rewrite-1767421527359",
            "conversation_history": [
              {
                "role": "assistant",
                "content": "请描述你的主要成就"
              },
              {
                "role": "user",
                "content": "我负责了前端架构升级：\n\n技术成果：\n- 引入 TypeScript，类型覆盖率达到 85%\n- 实现微前端架构，支持 5 个子应用独立部署\n- 性能优化：FCP 从 2.1s 降至 0.8s\n\n团队贡献：\n- 组织 10+ 场技术分享\n- 编写前端开发规范文档\n- Mentoring 2 名初级工程师\n\n面临的挑战：\n- 遗留代码重构风险控制\n- 跨团队沟通协调\n- 上线前的充分测试"
              }
            ],
            "preferences": {
              "role": "前端工程师",
              "audience": "leader",
              "tone": "professional",
              "length_main_chars": 1000
            }
          },
          "webhookUrl": "https://n8n.neican.ai/webhook/generate",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "fe1d09fa-34d5-4aaa-bd30-1b2f90a11636",
  "activeVersionId": "a117ae3b-cc88-4b81-ac79-fcb0382852f2",
  "versionCounter": 19,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-03T05:25:44.654Z",
      "createdAt": "2026-01-03T05:25:44.654Z",
      "role": "workflow:owner",
      "workflowId": "D05OBJW6XTAgOJjo",
      "projectId": "7b8WkYa3yMydt92d",
      "project": {
        "updatedAt": "2025-09-14T14:56:24.307Z",
        "createdAt": "2025-09-14T14:30:32.919Z",
        "id": "7b8WkYa3yMydt92d",
        "name": "huang zuomin <hzuomin@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8ef8e17d-0d88-49dc-a55d-80dc89b2c1e8",
        "projectRelations": [
          {
            "updatedAt": "2025-09-14T14:30:32.919Z",
            "createdAt": "2025-09-14T14:30:32.919Z",
            "userId": "8ef8e17d-0d88-49dc-a55d-80dc89b2c1e8",
            "projectId": "7b8WkYa3yMydt92d",
            "user": {
              "updatedAt": "2026-01-02T16:00:00.685Z",
              "createdAt": "2025-09-14T14:30:31.900Z",
              "id": "8ef8e17d-0d88-49dc-a55d-80dc89b2c1e8",
              "email": "hzuomin@gmail.com",
              "firstName": "huang",
              "lastName": "zuomin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-14T14:56:47.273Z",
                "personalization_survey_n8n_version": "1.111.0",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "bjPhfNTWQKRHd7mi",
                "userActivatedAt": 1764774811180,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766173157394
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-03T06:39:25.611Z",
    "createdAt": "2026-01-03T06:39:23.313Z",
    "versionId": "a117ae3b-cc88-4b81-ac79-fcb0382852f2",
    "workflowId": "D05OBJW6XTAgOJjo",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generate",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "3fed46b1-2c9f-45c2-a9eb-64bc22f0e6ac",
        "name": "Webhook - Generate Report",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -4064,
          2608
        ],
        "webhookId": "talk2report-generate-v3"
      },
      {
        "parameters": {
          "content": "## Talk2Report 生成工作流 v3.0 (Enhanced)\n\n### 新增特性\n✅ 输入验证 - 检查必需字段\n✅ 详细错误处理 - 分类错误响应\n✅ 丰富元数据 - session_id, processing_time, version\n✅ 保留质量闭环 - Critic 验证 + 自动重写\n\n### 架构\nWebhook → 验证 → Agent B (Archivist) → Agent C (3 Writers并行) → Agent D (Critic) → 响应\n\n### Multi-Agent Pipeline\n- **Agent B (Archivist)**: 从对话历史提取结构化数据\n- **Agent C (Writers)**: 并行生成 3 个版本 (brief, formal, social)\n- **Agent D (Critic)**: 验证质量，评分 < 80 触发重写\n\n### 质量保证\n- 评分标准: <80 重写, 80-89 良好, 90-100 优秀\n- 最大迭代: 3 次\n- 自动返回最佳结果",
          "height": 1200,
          "width": 400,
          "color": 2
        },
        "id": "4cbd2909-c6d1-4ceb-b117-c185e6338c51",
        "name": "Workflow Overview",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -4464,
          1808
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "has-session-id",
                "name": "has_session_id",
                "value": "={{ !!$json.body?.session_id }}",
                "type": "boolean"
              },
              {
                "id": "has-conversation",
                "name": "has_conversation",
                "value": "={{ !!$json.body?.conversation_history && $json.body.conversation_history.length > 0 }}",
                "type": "boolean"
              },
              {
                "id": "has-preferences",
                "name": "has_preferences",
                "value": "={{ !!$json.body?.preferences }}",
                "type": "boolean"
              },
              {
                "id": "is-valid",
                "name": "is_valid",
                "value": "={{ !!$json.body?.session_id && !!$json.body?.conversation_history && $json.body.conversation_history.length > 0 && !!$json.body?.preferences }}",
                "type": "boolean"
              },
              {
                "id": "extract-session-id",
                "name": "session_id",
                "value": "={{ $json.body?.session_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "0b5faab3-0cb1-4560-a759-2988df9da19c",
        "name": "Validate Input",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3808,
          2608
        ],
        "notes": "验证输入数据的完整性"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-valid",
                "leftValue": "={{ $json.is_valid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "3c200a80-37e6-426d-9d1a-704c027d1220",
        "name": "Check Validation",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -3568,
          2608
        ],
        "notes": "验证通过则继续，否则返回错误"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ {\n  \"success\": false,\n  \"error\": \"Validation failed\",\n  \"message\": \"Missing required fields\",\n  \"required\": [\"session_id\", \"conversation_history\", \"preferences\"],\n  \"received\": {\n    \"has_session_id\": $json.has_session_id,\n    \"has_conversation_history\": $json.has_conversation,\n    \"has_preferences\": $json.has_preferences\n  },\n  \"timestamp\": new Date().toISOString()\n} }}",
          "options": {}
        },
        "id": "90b450bc-71b0-4df4-ab1f-7aaa9cd7e05e",
        "name": "Validation Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -3312,
          2768
        ],
        "notes": "返回验证错误响应"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "start-time",
                "name": "start_timestamp",
                "value": "={{ $now.toISO() }}",
                "type": "string"
              },
              {
                "id": "session-id-keep",
                "name": "session_id",
                "value": "={{ $json.session_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "bb397af7-004e-47a8-8def-e1675f10cfdc",
        "name": "Set Metadata",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3312,
          2464
        ],
        "notes": "设置初始元数据"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "val-conv",
                "name": "conversation_history",
                "value": "={{ $('Webhook - Generate Report').item.json.body.conversation_history }}",
                "type": "array"
              },
              {
                "id": "val-prefs",
                "name": "preferences",
                "value": "={{ $('Webhook - Generate Report').item.json.body.preferences }}",
                "type": "object"
              },
              {
                "id": "val-extracted",
                "name": "extracted_data",
                "value": "={{ $('Webhook - Generate Report').item.json.executionMode }}",
                "type": "string"
              },
              {
                "id": "keep-session-id",
                "name": "session_id",
                "value": "={{ $('Set Metadata').item.json.session_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "50c11c3b-fbe7-4145-86ce-a4afd2d1ccf9",
        "name": "Extract Request Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3056,
          2464
        ]
      },
      {
        "parameters": {
          "content": "=## Agent B: Archivist (信息提取)\n\n### 任务\n从对话历史中提取结构化数据，映射到 YearEndSummary schema。\n\n### Schema 字段\n- basic_info: 基本信息\n- highlights: 核心成果\n- challenges: 挑战应对\n- growth: 个人成长\n- team_contribution: 团队贡献\n- future_goals: 未来规划\n\n### 重要\n- 只提取**明确提及**的信息\n- 不要编造或推断\n- 数字和奖项必须原样引用\n- 如果信息缺失，返回 null",
          "height": 590,
          "width": 350,
          "color": 5
        },
        "id": "69b8d83d-765c-4453-b0f4-b8a9c18c7834",
        "name": "Agent B Instructions",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2816,
          1600
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.deepseek.com/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "deepSeekApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"temperature\": 0.1,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是一个专业的归档员 Agent B (Archivist)。\\n任务：从对话历史中提取结构化数据，映射到 YearEndSummary schema。\\n\\n需要提取的字段：\\n- basic_info: 基本信息\\n- highlights: 核心成果\\n- challenges: 挑战应对\\n- growth: 个人成长\\n- team_contribution: 团队贡献\\n- future_goals: 未来规划\\n\\n重要规则：\\n1. 只提取明确提及的信息，不要编造。\\n2. 数字和奖项必须原样引用。\\n3. 如果信息缺失，返回 null。\\n4. 输出必须为标准 JSON 格式。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.conversation_history }}\" \n    }\n  ]\n}",
          "options": {}
        },
        "id": "659ae0f5-6ba5-487f-b24b-1f539608b665",
        "name": "Agent B - Extract Factsheet",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2768,
          2464
        ],
        "credentials": {
          "deepSeekApi": {
            "id": "t3d0RWOyYh5yA9DW",
            "name": "DeepSeek account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-extractor-error",
                "leftValue": "={{ $json.choices }}",
                "rightValue": "",
                "operator": {
                  "type": "any",
                  "operation": "isEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "625e1a33-9652-4458-9ddf-c2ad88275b14",
        "name": "Check Agent B Error",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -2512,
          2464
        ],
        "notes": "检查 Agent B 是否出错"
      },
      {
        "parameters": {
          "jsCode": "// 解析 Agent B 的响应\nconst response = $input.item.json;\nconst content = response.choices?.[0]?.message?.content || '';\n\n// 提取 JSON\nlet factsheet;\ntry {\n  const jsonMatch = content.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (jsonMatch) {\n    factsheet = JSON.parse(jsonMatch[1]);\n  } else {\n    factsheet = JSON.parse(content);\n  }\n} catch (e) {\n  throw new Error('Failed to parse Agent B response: ' + e.message);\n}\n\n// 获取用户偏好和 session_id\nconst preferences = $('Extract Request Data').item.json.preferences;\nconst sessionId = $('Extract Request Data').item.json.session_id;\n\nreturn {\n  factsheet: factsheet,\n  preferences: preferences,\n  session_id: sessionId,\n  iteration: 1,\n  rewrite_context: null\n};"
        },
        "id": "53542d4a-cb59-440b-b6a2-b6749be16732",
        "name": "Prepare for Agent C",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2256,
          2464
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ {\n  \"success\": false,\n  \"error\": \"Agent B (Archivist) failed\",\n  \"details\": {\n    \"message\": \"Failed to extract factsheet from conversation history\",\n    \"raw_response\": $json,\n    \"timestamp\": new Date().toISOString()\n  },\n  \"session_id\": $('Extract Request Data').item.json.session_id\n} }}",
          "options": {}
        },
        "id": "fdf10fa2-6f7e-4a7b-8d5b-0cbe1172fb38",
        "name": "Agent B Error Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -2256,
          2656
        ]
      },
      {
        "parameters": {
          "content": "=## Agent C: Writers (并行生成)\n\n### 任务\n基于结构化数据和用户偏好，并行生成3个版本的报告。\n\n### 3个版本\n1. **Brief (电梯汇报)**: 200字以内，精炼有力\n2. **Formal (正式述职)**: 800-1500字，金字塔结构\n3. **Social (朋友圈文案)**: 感性表达，emoji点缀\n\n### 用户偏好\n- 受众: {{ $json.preferences.audience }}\n- 文风: {{ $json.preferences.tone }}\n- 字数: {{ $json.preferences.length_main_chars }}\n\n### 重写上下文\n{{ $json.iteration > 1 ? '包含 Critic 的反馈意见' : '首次生成' }}",
          "height": 688,
          "width": 400,
          "color": 6
        },
        "id": "b4cdab22-e3a7-4bbb-b558-535ce43c731e",
        "name": "Agent C Instructions",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2112,
          1504
        ]
      },
      {
        "parameters": {
          "batchSize": 3,
          "options": {}
        },
        "id": "264c45b2-8daf-42b6-b2ad-75d8188b5db4",
        "name": "Create Writer Tasks",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -2000,
          2464
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "writer-type-1",
                "name": "writer_type",
                "value": "=brief",
                "type": "string"
              },
              {
                "id": "instruction-1",
                "name": "instruction",
                "value": "=生成200字电梯汇报版，要求精炼有力，突出核心成果",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "079e3380-44d6-49da-bab3-c2d6da151d76",
        "name": "Writer 1: Brief",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1808,
          2304
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "writer-type-2",
                "name": "writer_type",
                "value": "=formal",
                "type": "string"
              },
              {
                "id": "instruction-2",
                "name": "instruction",
                "value": "=生成正式年度述职版({{ $json.length_main_chars || 1200 }}字)，使用金字塔结构，包含开场、核心成果、挑战应对、个人成长、团队贡献、未来规划、结尾",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "d2fc1034-b2f2-444a-ae52-c6f323ebcdc1",
        "name": "Writer 2: Formal",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1808,
          2464
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "writer-type-3",
                "name": "writer_type",
                "value": "=social",
                "type": "string"
              },
              {
                "id": "instruction-3",
                "name": "instruction",
                "value": "=生成朋友圈文案版，感性表达，使用emoji点缀，300字以内",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "0958d10b-f0ab-4e48-8ec9-2b12b7b5a12c",
        "name": "Writer 3: Social",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1808,
          2608
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.deepseek.com/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "deepSeekApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"temperature\": 0.1,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是一个专业的归档员 Agent B (Archivist)。\\n任务：从对话历史中提取结构化数据，映射到 YearEndSummary schema。\\n\\n需要提取的字段：\\n- basic_info: 基本信息\\n- highlights: 核心成果\\n- challenges: 挑战应对\\n- growth: 个人成长\\n- team_contribution: 团队贡献\\n- future_goals: 未来规划\\n\\n重要规则：\\n1. 只提取明确提及的信息，不要编造。\\n2. 数字和奖项必须原样引用。\\n3. 如果信息缺失，返回 null。\\n4. 输出必须为标准 JSON 格式。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.conversation_history }}\" \n    }\n  ]\n}",
          "options": {}
        },
        "id": "7912996f-aa92-492f-9a0d-60d97f5170df",
        "name": "Call Writer",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1552,
          2464
        ],
        "credentials": {
          "deepSeekApi": {
            "id": "t3d0RWOyYh5yA9DW",
            "name": "DeepSeek account"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "drafts",
          "options": {}
        },
        "id": "81bf23e3-77d1-4131-8282-934d5ad65a47",
        "name": "Merge All Drafts",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -1312,
          2464
        ]
      },
      {
        "parameters": {
          "content": "=## Agent D: Critic (质量验证)\n\n### 任务\n验证报告的逻辑一致性、因果关系、证据支撑。\n\n### 验证标准\n1. 逻辑一致性 - 前后不矛盾\n2. 因果关系 - 成果有明确的行动支撑\n3. 证据支撑 - 数据和事实可信\n4. 完整性 - 涵盖所有重要方面\n\n### 评分\n- 90-100: 优秀，可以直接使用\n- 80-89: 良好，微调后可用\n- < 80: 需要重写\n\n### 输出格式\n```json\n{\n  \"passed\": true,\n  \"score\": 87,\n  \"verdict\": \"报告质量评价\",\n  \"issues\": [],\n  \"rewrite_needed\": false\n}\n```",
          "height": 770,
          "width": 400,
          "color": 7
        },
        "id": "6850c0d6-0a6f-4023-b152-0123e9c58200",
        "name": "Agent D Instructions",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1152,
          1504
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.deepseek.com/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "deepSeekApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"temperature\": 0.0,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是一个严格的报告评审专家 Agent D (Critic)。\\n\\n请根据以下4个维度验证报告质量：\\n1. 逻辑一致性 (前后是否矛盾)\\n2. 因果关系 (成果是否有行动支撑)\\n3. 证据支撑 (数据事实是否可信)\\n4. 完整性 (是否涵盖所有重要方面)\\n\\n评分规则：\\n- < 80分：不合格，必须重写 (rewrite_needed = true)\\n- 80-89分：良好\\n- 90-100分：优秀\\n\\n请严格按照以下 JSON 格式输出（不要输出 markdown）：\\n{\\n  \\\"passed\\\": boolean,\\n  \\\"score\\\": number,\\n  \\\"verdict\\\": \\\"简短评价\\\",\\n  \\\"issues\\\": [\\\"问题点1\\\", \\\"问题点2\\\"],\\n  \\\"rewrite_needed\\\": boolean\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"请评审以下生成的报告草稿：\\n\\n{{ JSON.stringify($json) }}\"\n    }\n  ]\n}",
          "options": {}
        },
        "id": "b685ee25-10a1-4b7d-a1dc-46aafc6a7a35",
        "name": "Agent D - Validate Quality",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -960,
          2464
        ],
        "credentials": {
          "deepSeekApi": {
            "id": "t3d0RWOyYh5yA9DW",
            "name": "DeepSeek account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-score",
                "leftValue": "={{ $json.score }}",
                "rightValue": 80,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "d46f2838-66b9-4b36-93ce-e0edb56a5669",
        "name": "Check Quality Score",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -704,
          2464
        ]
      },
      {
        "parameters": {
          "jsCode": "// 计算处理时间\nconst startTime = new Date($('Set Metadata').item.json.start_timestamp).getTime();\nconst processingTime = Date.now() - startTime;\n\nreturn {\n  success: true,\n  session_id: $('Prepare for Agent C').item.json.session_id,\n  iterations: $('Prepare for Agent C').item.json.iteration,\n  factsheet: $('Prepare for Agent C').item.json.factsheet,\n  versions: $('Merge All Drafts').item.json.drafts.map(d => ({\n    type: d.writer_type,\n    content: d.choices?.[0]?.message?.content || ''\n  })),\n  quality: {\n    passed: $json.passed,\n    score: $json.score,\n    verdict: $json.verdict,\n    thinking: $json.thinking || ''\n  },\n  metadata: {\n    timestamp: new Date().toISOString(),\n    processing_time_ms: processingTime,\n    version: \"3.0-enhanced\",\n    model: \"deepseek-chat\"\n  }\n};"
        },
        "id": "a955ada7-2b01-459a-b6e5-8f41e10bbe52",
        "name": "Prepare Success Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -448,
          2304
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "eb668f95-2126-42da-872c-3245b7cd10bf",
        "name": "Return Success Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -208,
          2304
        ]
      },
      {
        "parameters": {
          "jsCode": "// 检查迭代次数\nconst currentIteration = $('Prepare for Agent C').item.json.iteration;\nconst maxIterations = 3;\n\nif (currentIteration >= maxIterations) {\n  // 达到最大迭代次数，强制返回当前结果\n  const startTime = new Date($('Set Metadata').item.json.start_timestamp).getTime();\n  const processingTime = Date.now() - startTime;\n  \n  return {\n    force_return: true,\n    message: `已达到最大迭代次数(${maxIterations})，返回当前结果`,\n    processing_time_ms: processingTime\n  };\n}\n\n// 准备重写上下文\nconst criticResponse = $input.item.json;\nconst rewriteContext = {\n  verdict: criticResponse.verdict,\n  issues: criticResponse.issues || [],\n  suggestions: criticResponse.issues?.map(i => i.suggestion).join('\\n') || '',\n  score: criticResponse.score\n};\n\nreturn {\n  iteration: currentIteration + 1,\n  rewrite_context: JSON.stringify(rewriteContext),\n  factsheet: $('Prepare for Agent C').item.json.factsheet,\n  preferences: $('Prepare for Agent C').item.json.preferences,\n  session_id: $('Prepare for Agent C').item.json.session_id\n};"
        },
        "id": "b53f154a-d22f-4345-aa71-19cdc199c1b1",
        "name": "Prepare Rewrite",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -448,
          2608
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-force",
                "leftValue": "={{ $json.force_return }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "ae591e05-e152-4faf-88b6-36ff858424e1",
        "name": "Check Max Iterations",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -208,
          2608
        ]
      },
      {
        "parameters": {
          "jsCode": "// 计算处理时间\nconst startTime = new Date($('Set Metadata').item.json.start_timestamp).getTime();\nconst processingTime = $json.processing_time_ms || (Date.now() - startTime);\n\nreturn {\n  success: true,\n  session_id: $('Prepare for Agent C').item.json.session_id,\n  iterations: $('Prepare for Agent C').item.json.iteration,\n  factsheet: $('Prepare for Agent C').item.json.factsheet,\n  versions: $('Merge All Drafts').item.json.drafts.map(d => ({\n    type: d.writer_type,\n    content: d.choices?.[0]?.message?.content || ''\n  })),\n  quality: {\n    passed: false,\n    score: $('Check Quality Score').item.json.score,\n    verdict: $('Check Quality Score').item.json.verdict + ' (已达到最大迭代次数)',\n    message: $json.message\n  },\n  metadata: {\n    timestamp: new Date().toISOString(),\n    processing_time_ms: processingTime,\n    version: \"3.0-enhanced\",\n    warning: \"Report quality did not meet threshold after maximum iterations\"\n  }\n};"
        },
        "id": "4a71c69c-8a6b-4387-99fa-1545f5936d7e",
        "name": "Prepare Warning Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          48,
          2768
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "6937ac11-4938-4c7c-a7d7-f55bf9f6f95f",
        "name": "Return with Warning",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          288,
          2768
        ]
      }
    ],
    "connections": {
      "Webhook - Generate Report": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Check Validation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Validation": {
        "main": [
          [
            {
              "node": "Set Metadata",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Validation Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Metadata": {
        "main": [
          [
            {
              "node": "Extract Request Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Request Data": {
        "main": [
          [
            {
              "node": "Agent B - Extract Factsheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agent B - Extract Factsheet": {
        "main": [
          [
            {
              "node": "Check Agent B Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Agent B Error": {
        "main": [
          [
            {
              "node": "Prepare for Agent C",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Agent B Error Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare for Agent C": {
        "main": [
          [
            {
              "node": "Create Writer Tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Writer Tasks": {
        "main": [
          [
            {
              "node": "Writer 1: Brief",
              "type": "main",
              "index": 0
            },
            {
              "node": "Writer 2: Formal",
              "type": "main",
              "index": 0
            },
            {
              "node": "Writer 3: Social",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Writer 1: Brief": {
        "main": [
          [
            {
              "node": "Call Writer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Writer 2: Formal": {
        "main": [
          [
            {
              "node": "Call Writer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Writer 3: Social": {
        "main": [
          [
            {
              "node": "Call Writer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Writer": {
        "main": [
          [
            {
              "node": "Merge All Drafts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge All Drafts": {
        "main": [
          [
            {
              "node": "Agent D - Validate Quality",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agent D - Validate Quality": {
        "main": [
          [
            {
              "node": "Check Quality Score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Quality Score": {
        "main": [
          [
            {
              "node": "Prepare Success Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Rewrite",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Success Response": {
        "main": [
          [
            {
              "node": "Return Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Rewrite": {
        "main": [
          [
            {
              "node": "Check Max Iterations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Max Iterations": {
        "main": [
          [
            {
              "node": "Return with Warning",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Writer Tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Warning Response": {
        "main": [
          [
            {
              "node": "Return with Warning",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "huang zuomin",
    "name": "Version a117ae3b",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-03T06:39:25.600Z",
        "id": 79,
        "workflowId": "D05OBJW6XTAgOJjo",
        "versionId": "a117ae3b-cc88-4b81-ac79-fcb0382852f2",
        "event": "activated",
        "userId": "8ef8e17d-0d88-49dc-a55d-80dc89b2c1e8"
      }
    ]
  }
}