n8n_workflows/Interview_Workflow_Optimized.json
{
  "name": "Talk2Report - Interview (Optimized Fast)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "interview/next-step",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-interview-opt",
      "name": "Webhook - Interview",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [760, 160],
      "webhookId": "auto-generated"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session-id",
              "name": "session_id",
              "value": "={{ $json.session_id || `session-${Date.now()}` }}",
              "type": "string"
            },
            {
              "id": "conv-history",
              "name": "conversation_history",
              "value": "={{ $json.conversation_history || [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "set-metadata-opt",
      "name": "Set Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [928, 160]
    },
    {
      "parameters": {
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "deepSeekApi",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"temperature\": 0.7,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是年终总结访谈助手。任务：通过提问收集用户5个方面的信息：1. 核心成果 2. 挑战应对 3. 个人成长 4. 团队贡献 5. 未来规划。每次只问一个简短问题，直接引导式提问。\\n\\n输出JSON格式：{\\\"question\\\": \\\"下一个问题\\\", \\\"thinking\\\": \\\"简短分析\\\", \\\"finished\\\": false, \\\"extracted_info\\\": {\\\"achievements\\\": \\\"内容或null\\\", \\\"challenges\\\": \\\"内容或null\\\", \\\"growth\\\": \\\"内容或null\\\", \\\"team\\\": \\\"内容或null\\\", \\\"future\\\": \\\"内容或null\\\"}}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.conversation_history.length > 0 ? '对话历史：' + JSON.stringify($json.conversation_history.slice(-4)) + '\\n\\n请根据对话历史提出下一个问题。如果已收集足够信息（至少3个方面），请设置finished=true并总结。' : '请开始访谈，提出第一个问题。' }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "agent-a-call-opt",
      "name": "Agent A - Call DeepSeek (Fast)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1096, 160],
      "credentials": {
        "deepSeekApi": {
          "id": "t3d0RWOyYh5yA9DW",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 解析 DeepSeek 响应\nconst response = $input.item.json;\n\n// 提取内容\nconst content = response.choices?.[0]?.message?.content || '';\n\n// 尝试提取 JSON\nlet parsedResult;\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsedResult = JSON.parse(jsonMatch[0]);\n  } else {\n    parsedResult = JSON.parse(content);\n  }\n} catch (e) {\n  // 解析失败，返回默认结构\n  parsedResult = {\n    question: content,\n    thinking: '',\n    finished: false,\n    extracted_info: {}\n  };\n}\n\nreturn {\n  question: parsedResult.question || '',\n  thinking: parsedResult.thinking || '',\n  extracted_info: parsedResult.extracted_info || {},\n  finished: parsedResult.finished || false,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "parse-response-opt",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1264, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"question\": $json.question,\n  \"thinking\": $json.thinking,\n  \"extracted_info\": $json.extracted_info,\n  \"finished\": $json.finished,\n  \"timestamp\": $json.timestamp\n} }}",
        "options": {}
      },
      "id": "respond-webhook-opt",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1432, 160]
    }
  ],
  "connections": {
    "Webhook - Interview": {
      "main": [
        [
          {
            "node": "Set Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Metadata": {
      "main": [
        [
          {
            "node": "Agent A - Call DeepSeek (Fast)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent A - Call DeepSeek (Fast)": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-03T08:45:00.000Z",
  "versionId": "optimized-fast-version"
}
